@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  @apply p-0 m-0;
}

html {
  font-size: 62.5%;
}

.cont {
  margin-left: auto;
  margin-right: auto;
  padding-left: 76px;
  padding-right: 76px;
  max-width: 1440px;
}

@font-face {
  font-family: 'FiraGoRegular';
  src: url('/fonts/FiraGO-Regular.woff') format("woff");
  font-display: swap;
}

.font-fR {
  font-family: 'FiraGoRegular';
  font-weight: 400;
}
.font-fN {
  font-family: 'FiraGoRegular';
  font-weight: 500;
}

.font-fB {
  font-family: 'FiraGoRegular';
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
  font-feature-settings: 'case' on;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: disc;
}

textarea {
  box-sizing: border-box;
  resize: none;
}